.home-page {
    text-align: center;
    background-image: url(../../assets/images/10best-cars-group-cropped-1542126037.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    height: 800px;
}

.home-page img {
    margin-top: 10px;
}