/* .register-block {
    background: #DE6262; 
    background: -webkit-linear-gradient(to bottom, #ff6ec4,#7873f5); 
    background: linear-gradient(to bottom, #ff6ec4,#7873f5); 
    float: left;
    width: 100%;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .register-sec h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #ff6ec4;
  }
  
    .register-sec h2:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #ff6ec4;
      display: block;
      margin-top: 20px;
      border-radius: 3px;
      margin-left: auto;
      margin-right: auto
    } */
section {
  background: #596d59;
}

.form-control {
  height: 40px;
  box-shadow: none;
  color: #060a0c;
}

.form-control:focus {
  border-color: #5cb85c;
}

.form-control, .btn {
  border-radius: 3px;
}

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.signup-form h2:before, .signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.signup-form h2:before {
  left: 0;
}

.signup-form h2:after {
  right: 0;
}

.signup-form .hint-text {
  color: rgb(14, 143, 53);
  margin-bottom: 30px;
  text-align: center;
}

.signup-form form {
  color: rgb(30, 146, 140);
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
  margin-top: 3px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}

.signup-form .row div:last-child {
  padding-left: 10px;
}

.signup-form a {
  color: #c91818;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #ca3e25;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
}